*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(136, 136, 136);
}

nav {
    background-color:black;
    display: flex;  
    display: -webkit-flex; 
    width: 100%;
    flex-wrap: wrap; 
    justify-content: center;
    padding: .5em;
    font-family: "Arial";
}

nav a{
    margin: .2em 1em 0px 1em;
    color: rgb(136, 136, 136);
}

nav a:hover {
    color: white;
}

.wrapper {
    background-color: #ffffff
}

h1 { 
    text-transform: capitalize;
    color: rgb(238, 216, 15);
    text-align: center;
}

h2, h3 {
    color: black;
    font-size: 20px;
}


.img-hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color: white
}

main{
    flex: 2;
    margin: 1em;
}

aside{
    flex: 1;
    margin: 1em;
}

footer {
    background-color: darkcyan;
    color: white;
    text-align: center;
}

.flex-item{
    background-color: hotpink;
    width: 30%
    margin: 1em;
    text-align: center;
}

.section-img{
    margin: 0 auto;
}